:root {
    --primary: #ebc908;
    --primary-text: #1a1a1a;
    --secondary: #ff1dec;
    --secondary-text: #ffffff;
    --accent: #505050;
    --accent-text: #ffffff;
    /**/
    --color1: #0b0c10;
    --color2: #1f2833;
    --color3: #c5c6c7;
    --color4: #66fcf1;
    --color5: #bd3df0;
    --color6: #0a1822;
}